build/
.gradle/
.checkstyle
.settings/
.idea/
lib/*
*.iml
*.log
*.log.*
*.csv
config.json
src/test/data/sandbox/
preferences.json
.DS_Store
./screenshot*.png
classes/
/data/
/bin/
src/main/resources/docs/
out/

# https://github.com/nus-cs2103-AY1819S1/forum/issues/74 Allow _reposense/config.json
!_reposense/config.json
