.dashboard {
    -fx-background-color: #f5f5f5;
}

.summary-pane {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 15, 0, 4, 5);
    -fx-border-width: 0;
}

.dashboard .summary-element {
    -fx-background-color: #fff;
    -fx-border-color: #ccc;
    -fx-border-width: 0px 1px 0px 0px;
}

.summary-element:hover > .summary-value {
    -fx-text-fill: #6593F5;
}

.visualization-pane {
    -fx-background-color: #6593F5;
}

.visualization-button {
    -fx-background-color: #fff;
    -fx-border-color: #0F52BA;
    -fx-border-width: 2px;
    -fx-border-radius: 2px;
}

.visualization-button:hover {
    -fx-background-color: #0F52BA;
    -fx-text-fill: #fff;
}

.chart {
    -fx-text-fill: #fff;
    -fx-font-family: "Avenir";
}

.chart .chart-title {
    -fx-text-fill: #fff;
}

.chart .chart-legend {
    -fx-background-color: #fff;
}

.chart .axis-label {
    -fx-text-fill: #E5ECE9;
    -fx-font-size: 15px;
}

.chart .axis {
    -fx-tick-label-fill: #fff;
}

.chart .axis-tick-mark {
    -fx-stroke: #fff;
    -fx-stroke-width: 2;
}

.chart .chart-plot-background {
    -fx-background-color: transparent;
}

#apptSupplyDemand .series0.chart-bar {
    -fx-bar-fill: #CA3433;

}

#apptSupplyDemand .series1.chart-bar {
    -fx-bar-fill: #00A572;
}

#doctorPreferences .chart-bar {
    -fx-background-color: #406E8E;
}
