.background {
    -fx-background-color: derive(#e6e6e6, 20%);
    background-color: #383838; /* Used in the default.html file */
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Futura";
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Futura";
    -fx-text-fill: white;
    -fx-opacity: 1;
}
.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Futura";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Futura";
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: #FFF;
    -fx-control-inner-background: #FFF;
    -fx-background-color: #FFF;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Futura";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: derive(#e6e6e6, 20%);
    -fx-border-color: transparent transparent transparent transparent;
}

.split-pane {
    -fx-background-color: derive(#e6e6e6, 20%);
}

.split-pane:vertical > .split-pane-divider {
    -fx-padding: 0 1 0 1;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 10px 5px 10px 5px;
    -fx-background-color: derive(#e6e6e6, 20%);
}

.list-cell {
    -fx-padding: 10px;
    -fx-background-color: transparent, -fx-background;
    -fx-background-insets: 0px, 5px ;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 5, 0, 0, 5);
}

.list-cell:empty {
    -fx-background-color: transparent ;
    -fx-background-insets: 0 ;
}

.list-cell:filled:selected {
    -fx-background-color: derive(#e8b68a, 20%);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 5, 0, 0, 5);
    -fx-border-color:  derive(#e86200, 50%);
    -fx-border-width: 3;
}

.cell_big_label {
    -fx-font-family: "Futura";
    -fx-font-size: 16px;
    -fx-text-fill: #464646;
}

.cell_small_label {
    -fx-font-family: "Futura";
    -fx-font-size: 13px;
    -fx-text-fill: #464646;
}

.stack-pane {
     -fx-background-color: derive(#FFF, 20%);
}

.status-bar {
    -fx-text-fill: black;
    -fx-font-size: 10px;
}

.result-display {
    -fx-background-color: transparent;
    -fx-font-family: "Futura";
    -fx-text-alignment: center;
    -fx-font-size: 13pt;
    -fx-text-fill: white;
    -fx-padding: -1px;
    -fx-translate-y: -3px;
}

.result-display .label {
    -fx-text-fill: black !important;
}

.status-bar .label {
    -fx-font-family: "Futura";
    -fx-text-fill: white;
}

.status-bar-with-border {
    -fx-background-color: derive(#FFF, 30%);
    -fx-border-color: derive(#FFF, 25%);
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: white;
}

.grid-pane {
    -fx-background-color: derive(#FFF, 30%);
    -fx-border-color: derive(#FFF, 30%);
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: derive(#FFF, 30%);
}

.context-menu {
    -fx-background-color: derive(#1b998b, 50%);
}

.context-menu .label {
    -fx-text-fill: white;
}

.menu-bar {
    -fx-background-color: derive(#1b998b, 20%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Futura";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #FFF;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #FFF;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #FFF;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.dialog-pane {
    -fx-background-color: #FFF;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #FFF;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#FFF, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

.scroll-bar {
    -fx-background-color: derive(#f0d4b4, 20%);
    -fx-scale-x: 1.5;
    -fx-translate-x: 5px;
}

.scroll-bar .thumb {
    -fx-background-color: derive(#e86200, 50%);
    -fx-background-insets: 3;
    -fx-scale-x: 1.5;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}


#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #FFF;
}

#commandTextField {
    -fx-background-color: #9ab4b5;
    -fx-background-insets: 0;
    -fx-border-color: #1b998b;
    -fx-border-insets: 0;
    -fx-border-width: 5;
    -fx-font-size: 13pt;
    -fx-text-fill: #FFF;
}

.text-field {
    -fx-prompt-text-fill: #FFF;
}

#filterField, #expenseListPanel, #expenseWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

#resultDisplay .content {
    -fx-background-color: #9ab4b5;
    -fx-background-radius: 0;
    -fx-border-color: #1b998b;
    -fx-border-width: 5;
    -fx-font-size: 10;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: #3e7b91;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

#title {
    -fx-background-color: #1b998b;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 5, 0, 0, 5);
}

#title .label {
    -fx-font-size: 30pt;
    -fx-text-fill: #fff;
    -fx-padding: 10px;
}


#notificationPanel, #budgetPanel {
    -fx-background-color: #fff;
    -fx-padding: 5px;
}

#notificationPanel .label, #budgetPanel .label, #statisticPanel #statisticHeader {
    -fx-font-size: 25pt;
    -fx-text-fill: #656565;
    -fx-padding: 5px 5px 5px 10px;
}

#statisticPanel #chartArea {
    -fx-padding: 10px 5px 10px 5px;
}


#statisticPanel {
    -fx-background-color: #FFF;
    -fx-alignment: CENTER;
    -fx-padding: 10px 5px 10px 5px;
}

#budgetBar > .track {
    -fx-control-inner-background: derive(#e9e5db, 20%);
    -fx-background-insets: 0;
}

#budgetBar {
    -fx-accent: derive(#61a15a, 20%);
}

#budgetPanel #percentageDisplay {
    -fx-font-size: 20pt;
}

#notificationListView #header {
    -fx-font-size: 15pt;
    -fx-font-family: "Futura";
    -fx-padding: 10px;
}

#notificationListView #body {
    -fx-font-size: 10pt;
    -fx-font-family: "Futura";
    -fx-padding: 10px;
}

#notificationCardPane #notificationCardAnchor .label{
    -fx-fill: #61a15a;
}

#categoriesPanel {
    -fx-background-color: #FFF;
    -fx-padding: 10px 5px 10px 5px;
    -fx-border-width: 3px 0px 0px 0px;
    -fx-border-color: derive(#e3e3e3, 20%);
}

#categoriesPanel .label {
    -fx-font-size: 25pt;
    -fx-text-fill: #656565;
    -fx-padding: 5px 5px 5px 10px;
}

#categoriesPanel #categoriesIcon {
    -fx-translate-y: 20px;
}

#categoriesIcon .label {
    -fx-font-size: 12pt;
    -fx-font-family: "Futura";
    -fx-text-fill: #656565;
}

