html {
    background-color: #404040;
}

.heading-container {
    width: 800px;
    padding: 15px;
    float: left;
}

.left-table-container {
    width: 300px;
    padding: 15px;
    float: left;
}

.right-table-container {
    width: 500px;
    padding: 15px;
    float: left;
}

.page-heading {
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Arial";
    font-size: 28px;
    font-weight: 300;
    color: white;
    text-align: left;
}

.table-title {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    font-family: "Arial";
    font-size: 28px;
    font-weight: 700;
    color: white;
    text-align: left;
}

.invisible {
    visibility: hidden;
}

table {
    width: 100%;
    table-layout: fixed;
}

table, th, td {
    border: 1px solid #383838;
    border-collapse: collapse;
    word-wrap:break-word;
}

.left-table-cols {
    width: 100px;
}

.right-table-cols {
    width: 120px;
}

.blue-alt-cols {
    background-color: #555555;
    text-align: left;
    border-collapse: collapse;
}

.blue-alt-cols td {
    padding: 5px 10px;
}

.blue-alt-cols tbody td {
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.blue-alt-cols td:nth-child(odd) {
    background: #767676;
}

.blue-alt-cols td:nth-child(even) {
    background: #398AA4;
}
