.split-pane:horizontal .split-pane-divider {
    -fx-padding: 0 1 0 1;
    -fx-border-color: #0000001e;
    -fx-background-color: transparent;
}

.split-pane {
    -fx-box-boder: transparent;
    -fx-padding: 0;
    -fx-background-inset: 0;
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-background-color: derive(#b4b4b4, 50%);
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0px;
    -fx-background-color: rgb(230.0, 230.0, 230.0);
}

.list-cell {
    -fx-padding: 12px;
    -fx-background-color: transparent, #ffffff;
    -fx-background-insets: 0px, 4px;
    -fx-border-radius: 1;
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.15), 6.0, 0.7, 0.0, 1.5);
}

.list-cell:empty {
    -fx-padding: 2px;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.list-cell:filled:hover {
    -fx-background-color: transparent, rgb(200.0, 200.0, 200.0);
}

.list-cell:filled:selected {
    -fx-background-color: transparent, derive(#42A5F5, 50%);
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: #3080e8;
    -fx-border-width: 0 0 0 0;
}

.list-cell .label {
    -fx-text-fill: #242424;
    -fx-font-family: "Tahoma";
}

.scroll-bar:vertical>.track-background, .scroll-bar:horizontal>.track-background
{
    -fx-background-color: rgb(230.0, 230.0, 230.0);
    -fx-background-insets: 0;
}

.scroll-bar:vertical>.thumb, .scroll-bar:horizontal>.thumb {
    -fx-background-color: rgb(180.0, 180.0, 180.0);
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.scroll-bar>.increment-button, .scroll-bar>.decrement-button,
.scroll-bar:hover>.increment-button, .scroll-bar:hover>.decrement-button
{
    -fx-background-color: transparent;
}

.scroll-bar>.increment-button>.increment-arrow, .scroll-bar>.decrement-button>.decrement-arrow
{
    -fx-background-color: rgb(150.0, 150.0, 150.0);
}

.scroll-bar>.track-background {
    -fx-background-color: transparent;
}

