.root {
    -black-1-: #0c0c0c;
    -grey-1-: #212121;
    -grey-2-: #303030;
    -grey-3-: #424242;
    -grey-4-: #e6e6e6;
    -white-1-: #F5F5F5;

    -primary-: #3E50B4;
    -pink-1-: #FF3F80;

    -font-: #98a6ad;
    -background-: #323b44;
    -experimental-: #4c5667;
    -card-1-: #36404a;
    -card-2-: #474f57;
    -table-border-: #98a6ad;

    -yellow-primary-: #FFDE03;
    -blue-primary-: #0336FF;
    -red-primary-: #FF0266;

    -red-1-: #ef5350;
    -purple-1-: #7266ba;
    -green-1-: #00b19d;
    -blue-t-: #42A5F5;
    -amber-1-: #f7931e;

    -blue-1-: #004ba0;
    -blue-2-: #1976d2;
    -blue-3-: #63a4ff;
    -blue-n-: #0081cb;

    -grey-b-: #E1E2E1;
    -grey-s-: #969696;

    -swatch-100: #BBDEFB;
    -swatch-200: #90CAF9;
    -swatch-300: #64BEF6;
    -swatch-400: #42A5F5;
    -swatch-500: #2196F3;
    -swatch-grey: #c8c8c8;
    -swatch-dark-grey: #969696;
    -swatch-light-grey: #e6e6e6;
    -swatch-toolbar: #F5F5F5;
    -swatch-toolbar-selected: #D7D7D7;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../fonts/IBMPlexSans-Regular.ttf');
}

.background {
    -fx-background-color: -grey-b-;
    background-color: -grey-b-; /* Used in the default.html file */
}

.menu-bar {
    -fx-background-color: -background-;
}

.menu-bar .label {
    -fx-font-size: 11pt;
    -fx-font-family: "Open Sans";
    -fx-text-fill: -white-1-;
    -fx-opacity: 1;
}

.context-menu {
    -fx-background-color: -background-;
}

.grid-pane {
    -fx-background-color: -background-;
    -fx-border-color: transparent;
    -fx-border-width: 0px;
    -fx-alignment: center;
}

.grid-pane .stack-pane {
    -fx-border-width: 0;
    -fx-background-color: -background-;
}

.grid-pane .stack-pane .label {
    -fx-font-family: "Open Sans"
}

#contextIndicator {
    -fx-font-family: "Open Sans";
    -fx-background-color: -blue-2-;
    -fx-padding: 10;
}

#contextIndicator .label {
    -fx-text-alignment: left;
    -fx-font-size: 1.5em;
    -fx-padding: 5 5 5 8;
    -fx-text-fill: white;
}

.split-pane:horizontal .split-pane-divider {
    -fx-padding: 1 0 1 0;
    -fx-background-insets: 0;
    -fx-border-color: transparent;
    -fx-background-color: -background-;
}


.split-pane {
    -fx-box-boder: transparent;
    -fx-padding: 0;
    -fx-background-inset: 0;
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-background-color: transparent;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0px;
    -fx-background-color: -grey-b-;
}

.list-cell {
    -fx-padding: 12px;
    -fx-background-color: transparent, -white-1-;
    -fx-background-insets: 0px, 0px;
    -fx-border-radius: 1;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: -grey-b-;
}

.list-cell:empty {
    -fx-padding: 2px;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.list-cell:filled:hover {
    -fx-background-color: transparent, rgb(200.0, 200.0, 200.0);
}

.list-cell:filled:selected {
    -fx-background-color: transparent, derive(#42A5F5, 50%);
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: #3080e8;
    -fx-border-width: 0 0 0 0;
}

.cell_big_label {
    -fx-font-weight: 600;
}

.list-cell .label {
    -fx-text-fill: -grey-1-;
    -fx-font-family: "IBM Plex Sans";
}

.pane-with-border {
    -fx-background-color: -background-;
    -fx-border-width: 0;
}

.stack-pane {
    -fx-background-color: -card-2-;
    -fx-border-width: 0;
}

#commandTextField {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-color: -background-;
    -fx-border-insets: 0;
    -fx-border-width: 0.3;
    -fx-font-family: "Open Sans";
    -fx-font-size: 13pt;
    -fx-text-fill: white;
}

#resultDisplay {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-color: -background-;
    -fx-border-insets: 0;
    -fx-border-width: 0.3;
    -fx-font-family: "Open Sans";
    -fx-font-size: 13pt;
    -fx-text-fill: white;
}

#resultDisplay .content {
    -fx-background-color: transparent, -card-2-, transparent, -card-2-;
}

.scroll-bar:vertical>.track-background, .scroll-bar:horizontal>.track-background
{
    -fx-background-color: -grey-b-;
    -fx-background-insets: 1 0 0 0;
}

.scroll-bar:vertical>.thumb, .scroll-bar:horizontal>.thumb {
    -fx-background-color: -grey-s-;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.scroll-bar>.increment-button, .scroll-bar>.decrement-button,
.scroll-bar:hover>.increment-button, .scroll-bar:hover>.decrement-button
{
    -fx-background-color: transparent;
}

.scroll-bar>.increment-button>.increment-arrow, .scroll-bar>.decrement-button>.decrement-arrow
{
    -fx-background-color: -grey-s-;
}

.scroll-bar>.track-background {
    -fx-background-color: transparent;
}

#browserPlaceholder {
    -fx-padding: 0 12 12 12;
    -fx-background-color: -background-;
    -fx-background-insets: 0px, 10px;
    -fx-border-radius: 2;
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.15), 6.0, 0.7, 0.0, 1.5);
}

.browser-panel {
    -fx-background-color: -card-1-;
    -fx-padding: 30;
}

#totalVolunteersStatus exit.label {
    -fx-alignment: center;
}

.event-name {
    -fx-font-weight: 700;
    -fx-font-size: 20pt;
    -fx-text-fill: -white-1-;
    -fx-font-family: "Open Sans";
}

.detail {
    -fx-font-size: 12pt;
    -fx-text-fill: -white-1-;
    -fx-font-family: "Open Sans";
}

#tags {
    -fx-padding: 0 0 5 0;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: -blue-2-;
    -fx-padding: 2 5 2 5;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11.5;
    -fx-font-family: "Open Sans"
}

#tags .Upcoming {
    -fx-background-color: -amber-1-;
}

#tags .Ongoing {
    -fx-background-color: -green-1-;
}

#tags .Completed {
    -fx-background-color: -red-1-;
}

#eventDateBox {
    -fx-padding: 20 0 0 0;
}

#eventDescriptionLabel {
    -fx-padding: 20 0 0 0;
}

#numOfVolunteersLabel {
    -fx-padding: 20 0 0 0;
}

#numOfVolunteerBox .label{
    -fx-font-size: 12pt;
    -fx-text-fill: -white-1-;
    -fx-font-family: "IBM Plex Sans";
    -fx-padding: 0 0 20 0;
}

.volunteer-name {
    -fx-font-size: 20pt;
    -fx-text-fill: -white-1-;
    -fx-font-family: "IBM Plex Sans";
}

#volunteerTag {
    -fx-padding: 0 0 5 0;
}

#volunteerTag .label {
    -fx-text-fill: white;
    -fx-background-color: -blue-2-;
    -fx-padding: 2 5 2 5;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11.5;
    -fx-font-family: "Open Sans"
}

.table-view {
    -fx-control-inner-background: -card-2-;
    -fx-background-color: transparent;
    -fx-table-cell-border-color: -table-border-;
    -fx-table-header-border-color: -table-border-;
    -fx-padding: 5;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 50;
    -fx-border-width: 1 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
            -table-border-
            transparent
            -table-border-
            transparent;
    -fx-border-insets: 0;
}

.table-view .column-header .label {
    -fx-font-size: 12pt;
    -fx-font-family: "Open Sans";
    -fx-font-weight: 600;
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-row-cell {
    -fx-cell-size: 40px;
}

.table-row-cell:empty {
    -fx-background-color: transparent;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

.table-cell {
    -fx-border-color: transparent;
    -fx-font-size: 12pt;
    -fx-font-family: "Open Sans";
    -fx-alignment: CENTER-LEFT;
}

.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow,
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

#emptyTable {
    -fx-text-alignment: center;
    -fx-font-size: 15pt;
    -fx-text-fill: white;
}

.overview-category {
    -fx-font-size: 18pt;
    -fx-text-fill: -white-1-;
    -fx-font-family: "Open Sans";
    -fx-padding: 0 0 5 0;
}


#overviewPanel .overviewEvent {
    -fx-background-radius: 2;
    -fx-padding: 15;
}

#overviewPanel .Upcoming {
    -fx-background-color: -amber-1-;
}

#overviewPanel .Ongoing {
    -fx-background-color: -green-1-;
}

#overviewPanel .Completed {
    -fx-background-color: -red-1-;
}

#overviewPanel .Chart {
    -fx-background-color: #3d4853;
}

.overview-event-type {
    -fx-font-family: "Open Sans";
    -fx-font-size: 15pt;
    -fx-text-fill: white;
}

.overview-type-number {
    -fx-font-family: "Open Sans";
    -fx-font-size: 20pt;
    -fx-font-weight: 700;
    -fx-text-fill: white;
}

.chart-pie-label-line {
    -fx-stroke: white;
    -fx-fill: white;
}

.chart-pie-label {
    -fx-fill: white;
    -fx-font-size: 12pt;
    -fx-font-family: "IBM Plex Sans";
}

.default-color0.chart-pie { -fx-pie-color: -blue-2-; }
.default-color1.chart-pie { -fx-pie-color: -pink-1-; }
.default-color2.chart-pie { -fx-pie-color: -blue-2-; }
.default-color3.chart-pie { -fx-pie-color: -pink-1-; }

.chart-plot-background {
    -fx-background-color: transparent;
}

.axis {
    -fx-tick-label-font-size: 12pt;
    -fx-tick-label-fill: white;
    -fx-tick-label-font: "IBM Plex Sans";
    -fx-tick-length: 1;
    -fx-minor-tick-length: 1;
}

.axis-label {
    -fx-text-fill: white;
    -fx-font-size: 12pt;
    -fx-font-family: "IBM Plex Sans";
}

.chart-vertical-grid-lines {
    -fx-stroke: transparent;
}
.chart-horizontal-grid-lines {
    -fx-stroke: transparent;
}

.chart-bar {
    -fx-bar-fill: #22bad9;
    -fx-background-color: -purple-1-;
    -fx-background-radius: 0;
}
