/* style sheet for the application
 * styles are organized by their locations
 * /

/* base style */
.root {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 12;
    -fx-text-fill: #CCCCCC;
    -fx-background-color: #383838;
}

.split-pane-divider {
    -fx-padding: 0;
    -fx-background-color: derive(#1d1d1d, 20%);
    -fx-border-color: transparent transparent transparent #4d4d4d;
}

/* tab styles */
.tab-label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 12;
    -fx-alignment: CENTER;
    -fx-font-weight: bold;
}

.tab {
    -fx-background-insets: 0 1 0 1, 0, 0;
}

.tab-pane {
    -fx-tab-min-width: 90px;
}

.tab-header-background {
    -fx-background-color: #3c3c3c
}

/* task list styles */
#taskListHeader {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 12;
    -fx-text-fill: #CCCCCC;
    -fx-background-color: #273445;
}

#taskListPanel {
    -fx-background-color: #333333;
}

#taskListLabel {
    -fx-background-color: #273445;
}

#taskCardHeader {
    -fx-background-color: #333333;
    -fx-opacity: 0.0;
}

#taskTags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#taskTags .label {
    -fx-background-color: #3e7b91; /* these are the intended ones 68B723, F37329, C6262E */
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 10;
}

#monthYearPanelPlaceholder {
    -fx-background-color: #282828;
}

#monthYearPanel {
    -fx-background-color: #282828;
}

.label {
    -fx-font-size: 20;
    -fx-font-family: "Segoe UI";
    -fx-text-fill: #CCCCCC;
}

#monthYearLabel {
    -fx-font-size: 24;
    -fx-font-family: "Segoe UI";
    -fx-text-fill: #CCCCCC;
}

.separator .line { /* separator between month and calendar below */
    -fx-background: #666666;
    -fx-width: 3;
}

/* calendar styles */
#calendarPanelPlaceHolder {
    -fx-background-color: #282828;
}

#filterField, #CalendarEventListPanel, #calendarEventWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
    -fx-background-color: #282828;
}

#calendarEventListPanelPlaceholder {
    -fx-background-color: #282828;
}

#personListView {
    -fx-background-color: #282828;
}

#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#calendarCommandBoxBorder {
    -fx-background-color: #273445;
}

#calendarDisplayBox {
    -fx-background-color: #282828;
}

/* command box styles */
#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#commandTextField {
    -fx-background-color: #1B1B1B;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-background-radius: 0 0;
    -fx-text-box-border: #DBB1B1;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 12;
    -fx-text-fill: #CCCCCC;
}

#commandBoxPlaceholder {
    -fx-background-color: #1B1B1B;
    -fx-border-radius: 0;
}

#resultDisplayPlaceholder {
    -fx-background-color: #1B1B1B;
}

#resultDisplay .content {
    -fx-background-color: #1B1B1B #1B1B1B;
    -fx-background-radius: 0;
    -fx-border-insets: 0;
    -fx-border-width: 0 0 0;
    -fx-border-color: #1B1B1B #1B1B1B;
}

.result-display {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 0 0;
    -fx-text-fill: #CCCCCC;
    -fx-font-size: 12;
    -fx-font-family: "Segoe UI";
}

.result-display .label {
    -fx-text-fill: black !important;
}

/* tags styles */
#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-background-color: #3e7b91;
    -fx-background-radius: 2;
    -fx-border-radius: 2;
    -fx-padding: 1 3 1 3;
    -fx-text-fill: white;
    -fx-font-size: 11;
}

/* alert box */
.dialog-pane {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#1d1d1d, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

