.background {
    -fx-background-color: derive(#161618, 0%);
    background-color: #1A1A1C; /* Used in the default.html file */
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.detail_title_label {
     -fx-font-family: "Segoe UI Bold";
     -fx-font-size: 30px;
     -fx-text-fill: #ffffff;
     -fx-padding: 0 0 30 0;
}

.detail_label {
     -fx-font-family: "Segoe UI Semibold";
     -fx-font-size: 16px;
     -fx-text-fill: #ffffff;
     -fx-padding: 15 0 15 0;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.box {
    -fx-background-color: #161618;
}

.box-with-shadow {
    -fx-effect: dropshadow(gaussian, black, 12, 0, 5, 5);
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: #161618;
    -fx-control-inner-background: #161618;
    -fx-background-color: #161618;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: derive(#161618, 0%);
    -fx-border-color: transparent transparent transparent transparent;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: derive(#161618, 0%);
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: derive(#161618, 0%);
    -fx-effect: dropshadow(gaussian, black, 12, 0, 5, 5);
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}

.list-cell:filled:even {
    -fx-background-color: #161618;
}

.list-cell:filled:odd {
    -fx-background-color: #161618;
}

.list-cell:filled:selected {
    -fx-background-color: #192C26;
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: #2EE298;
    -fx-border-width: 0;
}

.cell_big_label {
     -fx-font-family: "Segoe UI Bold";
     -fx-font-size: 16px;
     -fx-text-fill: #ffffff;
}

.cell_big_green_label {
     -fx-font-family: "Segoe UI Bold";
     -fx-font-size: 16px;
     -fx-text-fill: #2EE298;
}

.cell_small_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
    -fx-text-fill: #010504;
}

.stack-pane {
     -fx-background-color: derive(#161618, 0%);
}

.pane-with-border {
     -fx-background-color: derive(#161618, 0%);
     -fx-border-color: derive(#161618, 0%);
     -fx-border-top-width: 0px;
}

.status-bar {
    -fx-background-color: derive(#1A1A1C, 20%);
    -fx-text-fill: black;
}

.result-display {
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: white;
}

.result-display .label {
    -fx-text-fill: black !important;
}

.status-bar .label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
}

.status-bar-with-border {
    -fx-background-color: derive(#161618, 30%);
    -fx-border-color: derive(#161618, 25%);
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: white;
}

.grid-pane {
    -fx-background-color: derive(#161618, 0%);
    -fx-border-color: derive(#161618, 0%);
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: derive(#161618, 0%);
}

.context-menu {
    -fx-background-color: derive(#161618, 50%);
}

.context-menu .label {
    -fx-text-fill: white;
}

.menu-bar {
    -fx-padding: 5 23 5 23;
    -fx-background-color: derive(#161618, 0%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #161618;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #161618;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #161618;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.dialog-pane {
    -fx-background-color: #161618;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #161618;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#161618, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

.scroll-bar {
    -fx-background-color: derive(#161618, 0%);
}

.scroll-bar .thumb {
    -fx-background-color: derive(#161618, 30%);
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 5 1 5;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 5 1 5 1;
}

.progress-bar {
    -fx-accent: #2EE298;
}

.progress-bar .bar {
    -fx-background-insets:0;
    -fx-padding: 0;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
}

.progress-bar > .track {
  -fx-control-inner-background: #3E3F3F;
  -fx-padding: 0;
  -fx-background-insets:0;
  -fx-border-radius: 50px;
  -fx-background-radius: 50px;
}

#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#commandTextField {
    -fx-padding: 5 5 15 5;
    -fx-background-color: transparent #383838 transparent #383838;
    -fx-background-insets: 0;
    -fx-border-color: #161618 #161618 #ffffff #161618;
    -fx-border-insets: 0;
    -fx-border-width: 1;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: white;
}

#filterField, #wishListPanel, #wishWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

#resultDisplay .content {
    -fx-padding: 5 5 5 5;
    -fx-background-color: #161618;
    -fx-background-radius: 0;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: #192C26;
    -fx-padding: 3 8 3 8;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-font-size: 11;
}

#tags .red {
    -fx-background-color: #EC3A4C;
}

#tags .yel {
    -fx-text-fill: black;
    -fx-background-color: #F7DE59;
}

#tags .blue {
    -fx-background-color: #64C1FA;
}

#tags .ora {
    -fx-background-color: #ED6533;
}

#tags .green {
    -fx-background-color: #00BFA5;
}

#tags .pink {
    -fx-background-color: #F087AA;
}

#tags .pur {
    -fx-background-color: #6400EB;
}

#tags .hot {
    -fx-background-color: #FF00BF;
}

#tags .navy {
    -fx-background-color: #06179B;
}

#tags .black {
    -fx-background-color: black;
}
