/* style sheet for the application
 * styles are organized by their locations
 * /

/* base style */
.root {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 12;
    -fx-text-fill: #CCCCCC;
    -fx-background-color: #383838;
}

.split-pane-divider {
    -fx-padding: 0;
    -fx-background-color: derive(#1d1d1d, 20%);
    -fx-border-color: transparent transparent transparent #4d4d4d;
}

/* tab styles */
.tab-header-background {
    -fx-background-color: #282828;
}

.tab-pane:top *.tab-header-area {
    -fx-padding: 0em 0em 0em 0em;
}

.tab-pane:bottom *.tab-header-area {
    -fx-padding: 0em 0em 0em 0em;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.tab-pane .tab {
    -fx-background-color: #282828;
    -fx-border-color: #282828;
}

.tab-pane .tab:selected {
    -fx-background-color: #3c3e3f;
    -fx-border-color: #3c3e3f;
}

.tab-label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 14;
    -fx-alignment: CENTER;
    -fx-text-fill: #CCCCCC;
}


/* task list styles */
#taskListHeader {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 12;
    -fx-text-fill: #CCCCCC;
    -fx-background-color: #273445;
}

#taskListPanel {
    -fx-background-color: #333333;
}

#taskListLabel {
    -fx-background-color: #273445;
}

#taskCardHeader {
    -fx-background-color: #333333;
    -fx-opacity: 0.0;
}

#taskTags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#taskTags .label {
    -fx-background-color: #3e7b91; /* these are the intended ones 68B723, F37329, C6262E */
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 10;
}


/* calendar styles */
#monthYearPanelPlaceholder {
    -fx-background-color: #282828;
}

#monthYearPanel {
    -fx-background-color: #282828;
}

.label {
    -fx-font-size: 20;
    -fx-font-family: "Segoe UI";
    -fx-text-fill: #CCCCCC;
}

#monthYearLabel {
    -fx-font-size: 24;
    -fx-font-family: "Segoe UI";
    -fx-text-fill: #CCCCCC;
}

.separator .line { /* separator between month and calendar below */
    -fx-background: #666666;
    -fx-width: 3;
}

#calendarDisplayBox {
    -fx-background-color: #282828;
}


/* dark theme for todolist and search pane items */
.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: derive(#1d1d1d, 20%);
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}

.list-cell:filled:even {
    -fx-background-color: #3c3e3f;
}

.list-cell:filled:odd {
    -fx-background-color: #515658;
}

.list-cell:filled:selected {
    -fx-background-color: #424d5f;
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: #3e7b91;
    -fx-border-width: 1;
}

.list-cell .label {
    -fx-text-fill: white;
}

.cell_big_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16px;
    -fx-text-fill: #010504;
}

.cell_small_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
    -fx-text-fill: #010504;
}


/* font for todolist panel */
.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

#priority {
    -fx-alignment: CENTER;
}


/* command box styles */
#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#commandTextField {
    -fx-background-color: #1B1B1B;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-background-radius: 0 0;
    -fx-text-box-border: #DBB1B1;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 12;
    -fx-text-fill: #CCCCCC;
}

#commandBoxPlaceholder {
    -fx-background-color: #1B1B1B;
    -fx-border-radius: 0;
}

#resultDisplayPlaceholder {
    -fx-background-color: #1B1B1B;
}

#resultDisplay .content {
    -fx-background-color: #1B1B1B #1B1B1B;
    -fx-background-radius: 0;
    -fx-border-insets: 0;
    -fx-border-width: 0 0 0 ;
    -fx-border-color: #1B1B1B #1B1B1B;
}

.result-display {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 0 0;
    -fx-text-fill: #CCCCCC;
    -fx-font-size: 12;
    -fx-font-family: "Segoe UI";
}

.result-display .label {
    -fx-text-fill: black !important;
}


/* tags styles */
#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-background-color: #3e7b91;
    -fx-background-radius: 2;
    -fx-border-radius: 2;
    -fx-padding: 1 3 1 3;
    -fx-text-fill: white;
    -fx-font-size: 11;
}


/* alert box */
.dialog-pane {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#1d1d1d, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}


/* dark scroll bar for todolist */
/* todo use this scrollbar style for the calendar too, it looks really nice */
.scroll-bar {
    -fx-background-color: derive(#1d1d1d, 20%);
}

.scroll-bar .thumb {
    -fx-background-color: derive(#1d1d1d, 50%);
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}
