<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	 <title>Home Page</title>
    <link rel="stylesheet" href="DarkTheme.css">
</head>

<body class="background">
	<font size="8" color="white">Dear fellow CS2103 classmate:</font><br>
	<font size="6" color="white">This app could potentially mess up your personal Google Calendar. </font><br>
	<p><font size="6" color="white">Here is the Test Google Account for this app. </font></p><br>
	<font size="6" color="white">Gmail:          CS21031819F111Tester@gmail.com </font><br>
	<p><font size="6" color="white">Password:    CS2103Test </font></p><br>
	<font size="6" color="white">Please take note of the above infomation. </font><br>
	<font size="6" color="white">The Google Calendar Sign-in page will appear here after 45 seconds. </font><br>
	<font size="8" color="white">Thank you and hope you enjoy our app.</font><br>
</body>
</html>
