<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patient View</title>
    <link rel="stylesheet" type="text/css" href="PatientView.css">
    <script type="text/javascript">
        function getJsonFromUrl() {
            var query = location.search.substr(1);
            var result = {};
            query.split("&").forEach(function(part) {
                var item = part.split("=");
                result[item[0]] = decodeURIComponent(item[1]);
            });
            return result;
        }

        document.addEventListener("DOMContentLoaded", function(event) {
            document.getElementById("name").innerHTML=getJsonFromUrl().name;
            document.getElementById("ic").innerHTML=getJsonFromUrl().ic;
            document.getElementById("address").innerHTML=getJsonFromUrl().address;
            document.getElementById("phone").innerHTML=getJsonFromUrl().phone;
            document.getElementById("email").innerHTML=getJsonFromUrl().email;
            document.getElementById("blood").innerHTML=getJsonFromUrl().blood;
            document.getElementById("diseases").innerHTML=getJsonFromUrl().diseases;
            document.getElementById("drugs").innerHTML=getJsonFromUrl().drugs;
            document.getElementById("notes").innerHTML=getJsonFromUrl().notes;
        });
    </script>
</head>
<body>
<div class="container-personal-details">
    <div class="table-title">Personal Details</div>
    <table class="left-table blue-alt-cols">
        <tr>
            <td class="col-personal-details">Name</td>
            <td><span id="name"></span></td>
        </tr>
        <tr>
            <td class="col-personal-details">IC Number</td>
            <td><span id="ic"></span></td>
        </tr>
        <tr>
            <td class="col-personal-details">Address</td>
            <td><span id="address"></span></td>
        </tr>
        <tr>
            <td class="col-personal-details">HP Number</td>
            <td><span id="phone"></span></td>
        </tr>
        <tr>
            <td class="col-personal-details">Email</td>
            <td><span id="email"></span></td>
        </tr>
    </table>
</div>

<div class="container-medical-records">
    <div class="table-title">Medical Records</div>
    <table class="right-table blue-alt-cols">
        <tr>
            <td class="col-medical-records">Blood Type</td>
            <td><span id="blood"></span></td>
        </tr>
        <tr>
            <td class="col-medical-records">Disease History</td>
            <td><span id="disease"></span></td>
        </tr>
        <tr>
            <td class="col-medical-records">Drug Allergies</td>
            <td><span id="drugs"></span></td>
        </tr>
        <tr>
            <td class="col-medical-records">Notes</td>
            <td><span id="notes"></span></td>
        </tr>
    </table>
</div>



</body>
</html>
