<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="DarkTheme.css">
    <link rel="stylesheet" href="QueueDisplay.css">
    <script type="text/javascript">
        function getJsonFromUrl() {
            var query = location.search.substr(1);
            var result = {};
            query.split("&").forEach(function(part) {
                var item = part.split("=");
                result[item[0]] = decodeURIComponent(item[1]);
            });
            return result;
        }

        document.addEventListener("DOMContentLoaded", function(event) {
            document.getElementById("queue").innerHTML=getJsonFromUrl().queue;
            document.getElementById("served").innerHTML=getJsonFromUrl().served;
            document.getElementById("current").innerHTML=getJsonFromUrl().current;
        });
    </script>
</head>
<body class="background">
    <table style="width: 100%">
        <tr class = "table-header">
            <th style="width: 40%" >Waiting:</th>
            <th style="width: 20%" >Current Patient:</th>
            <th style="width: 40%" >Served:</th>
        </tr>
        <tr class = "table-row">
            <td style="width: 40%" valign="top"><span id="queue"></span></td>
            <td style="width: 20%" valign="top"><span id="current"></span></td>
            <td style="width: 40%" valign="top"><span id="served"></span></td>
        </tr>
    </table>
</body>
</html>
