.table-header {
    text-align: center;
    font-family: "Apple Symbols";
    font-weight: bold;
    font-size: 24pt;
    color: white;
}

.table-row {
    text-align: center;
    font-family: "Apple Symbols";
    font-weight: bold;
    font-size: 16pt;
    color: white;
}