.table-header {
    text-align: center;
    font-family: "Apple Symbols", "Segoe UI";
    font-size: 18pt;
    color: white;
}

.table-row {
    text-align: center;
    font-family: "Apple Symbols", "Segoe UI";
    font-size: 12pt;
    color: white;
}