<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="DarkTheme.css">
    /*<link rel="stylesheet" href="QueueDisplay.css">*/
    <style>
        html {
            background-color: #404040;
        }
        th {
            padding-bottom: 2px;
        }
        th, td {
            font-family: Verdana, Geneva, sans-serif;
            font-size: 14px;
            font-weight: lighter;
            color: #ffffff;
        }
        td {
            border: 2px solid #ffffff;
        }
        .circles {
            display: flex;
            justify-content: center;
        }
        .dot {
            background: linear-gradient(#d1d1d1, #ffffff);
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            text-align: center;
            margin: 5px 20px;
            font-size: 11px;
            padding: 15px;
            display: flex;
            height: 26px;
            width: 26px;
            color: #000;
        }
        .hide {
            visibility: hidden;
        }
    </style>
    <script type="text/javascript">
        function getJsonFromUrl() {
            var query = location.search.substr(1);
            var result = {};
            query.split("&").forEach(function(part) {
                var item = part.split("=");
                result[item[0]] = decodeURIComponent(item[1]);
            });
            return result;
        }

        document.addEventListener("DOMContentLoaded", function(event) {
            var q1elem = document.getElementById("queue1");
            var q1string = getJsonFromUrl().queue1;
            q1elem.innerHTML = "#1<br>" + q1string;
            if (q1string === "empty") {
                document.getElementById("qdot1").classList.add("hide");
            }

            var q2elem = document.getElementById("queue2");
            var q2string = getJsonFromUrl().queue2;
            q2elem.innerHTML = "#2<br>" + q2string;
            if (q2string === "empty") {
                document.getElementById("qdot2").classList.add("hide");
            }

            var q3elem = document.getElementById("queue3");
            var q3string = getJsonFromUrl().queue3;
            q3elem.innerHTML = "#3<br>" + q3string;
            if (q3string === "empty") {
                document.getElementById("qdot3").classList.add("hide");
            }

            var q4elem = document.getElementById("queue4");
            var q4string = getJsonFromUrl().queue4;
            q4elem.innerHTML = "#4<br>" + q4string;
            if (q4string === "empty") {
                document.getElementById("qdot4").classList.add("hide");
            }

            var q5elem = document.getElementById("queue5");
            var q5string = getJsonFromUrl().queue5;
            q5elem.innerHTML = "#5<br>" + q5string;
            if (q5string === "empty") {
                document.getElementById("qdot5").classList.add("hide");
            }

            var q6elem = document.getElementById("queue6");
            var q6string = getJsonFromUrl().queue6;
            q6elem.innerHTML = "#6<br>" + q6string;
            if (q6string === "empty") {
                document.getElementById("qdot6").classList.add("hide");
            }

            var s1elem = document.getElementById("served1");
            var s1string = getJsonFromUrl().served1;
            s1elem.innerHTML = "#1<br>" + s1string;
            if (s1string === "empty") {
                document.getElementById("sdot1").classList.add("hide");
            }

            var s2elem = document.getElementById("served2");
            var s2string = getJsonFromUrl().served2;
            s2elem.innerHTML = "#2<br>" + s2string;
            if (s2string === "empty") {
                document.getElementById("sdot2").classList.add("hide");
            }

            var s3elem = document.getElementById("served3");
            var s3string = getJsonFromUrl().served3;
            s3elem.innerHTML = "#3<br>" + s3string;
            if (s3string === "empty") {
                document.getElementById("sdot3").classList.add("hide");
            }

            var s4elem = document.getElementById("served4");
            var s4string = getJsonFromUrl().served4;
            s4elem.innerHTML = "#4<br>" + s4string;
            if (s4string === "empty") {
                document.getElementById("sdot4").classList.add("hide");
            }

            var s5elem = document.getElementById("served5");
            var s5string = getJsonFromUrl().served5;
            s5elem.innerHTML = "#5<br>" + s5string;
            if (s5string === "empty") {
                document.getElementById("sdot5").classList.add("hide");
            }

            var s6elem = document.getElementById("served6");
            var s6string = getJsonFromUrl().served6;
            s6elem.innerHTML = "#6<br>" + s6string;
            if (s6string === "empty") {
                document.getElementById("sdot6").classList.add("hide");
            }

            var current = document.getElementById("current");
            var currentString = getJsonFromUrl().current;
            current.innerHTML = currentString;
            if (currentString === "empty") {
                document.getElementById("cdot").classList.add("hide");
            }
        });
    </script>
</head>
<body>
<table style="width: 100%">
    <tr>
        <th style="width: 45%" align="center">Waiting:</th>
        <th style="width: 10%" align="center">Current Patient:</th>
        <th style="width: 45%" align="center">Served:</th>
    </tr>
    <tr>
        <td style="width: 45%" align="center" valign="center">
            <div class="circles">
                <div class="dot" id="qdot6"><span id="queue6"></span></div>
                <div class="dot" id="qdot5"><span id="queue5"></span></div>
                <div class="dot" id="qdot4"><span id="queue4"></span></div>
                <div class="dot" id="qdot3"><span id="queue3"></span></div>
                <div class="dot" id="qdot2"><span id="queue2"></span></div>
                <div class="dot" id="qdot1"><span id="queue1"></span></div>
            </div>
        </td>
        <td style="width: 10%" align="center" valign="center">
            <div class="circles">
                <div class="dot" id="cdot"><span id="current"></span></div>
            </div>
        </td>
        <td style="width: 45%" align="center" valign="center">
            <div class="circles">
                <div class="dot" id="sdot6"><span id="served6"></span></div>
                <div class="dot" id="sdot5"><span id="served5"></span></div>
                <div class="dot" id="sdot4"><span id="served4"></span></div>
                <div class="dot" id="sdot3"><span id="served3"></span></div>
                <div class="dot" id="sdot2"><span id="served2"></span></div>
                <div class="dot" id="sdot1"><span id="served1"></span></div>
            </div>
        </td>
    </tr>
</table>
</body>
</html>
