<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="DarkTheme.css">
    <style>
        table, th, td {
            border: 0px solid black;
        }
    </style>
    <script type="text/javascript">
        function getJsonFromUrl() {
            var query = location.search.substr(1);
            var result = {};
            query.split("&").forEach(function(part) {
                var item = part.split("=");
                result[item[0]] = decodeURIComponent(item[1]);
            });
            return result;
        }

        document.addEventListener("DOMContentLoaded", function(event) {
            document.getElementById("queue").innerHTML=getJsonFromUrl().queue;
            document.getElementById("served").innerHTML=getJsonFromUrl().served;
            document.getElementById("current").innerHTML=getJsonFromUrl().current;
        });
    </script>
</head>
<body>
    <table style="width: 100%">
        <tr>
            <th style="width: 40%" align="left">Waiting:</th>
            <th style="width: 20%" align="center">Current Patient:</th>
            <th style="width: 40%" align="right">Served:</th>
        </tr>
        <tr>
            <td style="width: 40%" align="left" valign="top"><span id="queue"></span></td>
            <td style="width: 20%" align="center" valign="top"><span id="current"></span></td>
            <td style="width: 40%" align="right" valign="top"><span id="served"></span></td>
        </tr>
    </table>
</body>
</html>
