.tab-pane .tab-header-area .tab-header-background {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
    -fx-background-color: #FFFFFF00;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 8 0;
}

.tab-pane {
    -fx-padding: 0 0 0 2;
    -fx-min-width: 200px;
    -fx-background-insets: 0 5 0 0;
    -fx-font-family: "Segoe UI Semibold";
}

.tab-pane .tab:selected {
    -fx-background-color: #778899;

}

.tab-pane .tab:hover {
    -fx-background-color: #778899;
}

.tab {
    -fx-background-color: #3c3e3f;
    -fx-padding: 2 30 2 30;
}

.tab-label {
    -fx-text-fill: #FFF;
    -fx-alignment: center;
}

.tab:selected .tab-label {
    -fx-text-fill: #FFF;
    -fx-font-weight: bold;
}

.tab:hover .tab-label {
    -fx-text-fill: #FFF;
}